*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    overflow: hidden;

}

.score {
    position: absolute;
    font-size: 3vmin;
    right: 1vmin;
    top: 1vmin;
}

.high-score {
    font-size: 3vmin;
}

/* message block */
.message-screen {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message1 {
    font-size: 10vmin;
}


.message2 {
    font-size: 3vmin;
    margin-top: 2vmin;
    margin-bottom: 5vmin;
}

/* Jump */
.jumpContainer {
    position: absolute;
}

.jumpBtn {
    position: fixed;
    z-index: 99999999;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 35vmin;
    min-height: 10vmin;

    background-color: black;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow:white 4px 4px 0 0, #000 4px 4px 0 1px;
    
    color: white;
    cursor: pointer;
    outline: none;
   
    font-size: 15px;
    line-height: 20px;
    padding: 12px 40px;
}

.jumpBtn:active {
    box-shadow: none;
    left: 51%;
    top: 88%;
}

.hide {
    display: none;
}

.floor {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%);
}

.player {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
}

.obstacle {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 30%;
    bottom: 0;
}